body {
  background-color: #1e1e1e;
  color: #c9d1d9;
}

h4 {
  color: #58a6ff;
}

textarea {
  background-color: #0d1117;
  color: #c9d1d9;
  border: 1px solid #30363d;
}

#preview {
  background-color: #0d1117;
  color: #c9d1d9;
  border: 1px solid #30363d;
  border-radius: 5px;
  max-height: 60vh;
  overflow-y: auto; 
}

.form-group label {
  color: #58a6ff;
}

.border {
  border: 1px solid #30363d !important;
}